{% extends 'flatpages/base.html' %}

{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
    Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
    {{ news|length }}
    {% if news %}
        <table>
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Дата публикации</th>
                    <th>Содержание</th>
                </tr>
            </thead>
            {% for new in news %}
            <tr>
                <td>{{ new.title|censor }}</td>
                <td>{{ new.data_create|date:'d M Y' }}</td>
                <td>{{ new.text|censor|truncatewords:20 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
    {% include 'paginate.html' %}
{% endblock content %}
